---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import comingSoonImage from '../images/Logo.webp'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link href="https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<Header />
		<main>
			<div class="coming-soon-info">
			<h1 style="display: none;">Fancy Plastic</h1>
			<Image src={comingSoonImage} alt="Fancy Plastic logo" />
			<h2>Coming Soon</h2>
			<p>Join our mailing list to be the first to know when we launch.</p>
			<button class="join-button">Join</button>
			</div>
		</main>
		<!-- <Footer /> -->
	</body>
</html>

<style>
	body {
		background-color: #59107B;
	}

	.coming-soon-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #FCFB10;
		font-size: 22px;
		
	}
	
	.coming-soon-info h2 {
		color: #FCFB10;
		text-shadow: 5px 3px 0 rgba(0,0,0);
	}

	.join-button {
		font-family: inherit;
		font-size: 18px;
		font-weight: 600;
		padding: 10px 25px;
		border-radius: 30px;
		border: 5px solid black;
		box-shadow: 0 5px 0 0 rgba(0,0,0);
		background-color: #ffffc5;
		transition: 0.3s;
	}

	.join-button:hover {
		background-color: #FCFB10;
	}

	.join-button:active {
		transform: translateY(3px);
		box-shadow: 0 2px 0 0 rgba(0,0,0);
	}
</style>	